In [14]:
import pandas as pd

In [15]:
df = pd.read_excel('Canada.xlsx', sheet_name = "Canada by Citizenship", skiprows=range(20), skipfooter=2)
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [16]:
df.rename(columns={ 'OdName' : 'Country', 'AreaName' : 'Continent' }, inplace=True)
df.drop(columns=['Type', 'Coverage', 'AREA', 'REG', 'DEV'], inplace=True)

In [17]:
# to remove unnamed columns
df = df[df.columns[:-8]]

In [18]:
df[df['Country'] == 'India']

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
79,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210

In [19]:
df.Country

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: Country, Length: 195, dtype: object

In [20]:
df.Country.unique().size

195

In [21]:
# creating a new index
df.set_index('Country', inplace=True)

In [22]:
df.head()

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,113,307,574,1264,1816,1602,1021,853,1450,1223
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,0,2,0,0,1,0,2,0,0

In [23]:
df.columns

Index(['Continent',   'RegName',   'DevName',        1980,        1981,
              1982,        1983,        1984,        1985,        1986,
              1987,        1988,        1989,        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005],
      dtype='object')

In [29]:
df.loc[ 'India' ]

Continent                  Asia
RegName           Southern Asia
DevName      Developing regions
1980                       8880
1981                       8670
1982                       8147
1983                       7338
1984                       5704
1985                       4211
1986                       7150
1987                      10189
1988                      11522
1989                      10343
1990                      12041
1991                      13734
1992                      13673
1993                      21496
1994                      18620
1995                      18489
1996                      23859
1997                      22268
1998                      17241
1999                      18974
2000                      28572
2001                      31223
2002                      31889
2003                      27155
2004                      28235
2005                      36210
Name: India, dtype: object

In [30]:
df.loc[ 'India', [2005] ]

2005    36210
Name: India, dtype: object

In [33]:
years = list(range(1980, 2005))

In [34]:
df.loc[ 'India', years ]

1980     8880
1981     8670
1982     8147
1983     7338
1984     5704
1985     4211
1986     7150
1987    10189
1988    11522
1989    10343
1990    12041
1991    13734
1992    13673
1993    21496
1994    18620
1995    18489
1996    23859
1997    22268
1998    17241
1999    18974
2000    28572
2001    31223
2002    31889
2003    27155
2004    28235
Name: India, dtype: object

In [35]:
df.groupby('Continent').count()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Asia,49,49,49,49,49,49,49,49,49,49,...,49,49,49,49,49,49,49,49,49,49
Europe,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,43,43
Latin America and the Caribbean,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
Northern America,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Oceania,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

In [36]:
df.groupby('Continent').sum()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,...,15700,14471,13791,15996,20346,24292,22710,23366,28192,27523
Asia,31025,34314,30214,24696,27274,23850,28739,43203,47454,60256,...,103030,106383,90929,106844,134544,148083,137653,131769,134850,159253
Europe,39760,44802,42720,24638,22287,20844,24370,46698,54726,60893,...,55642,48841,36719,35639,38215,42779,36798,34556,38082,35955
Latin America and the Caribbean,13081,15215,16769,15427,13678,15171,21179,28471,21924,25060,...,18645,17174,13830,15088,16898,20067,19317,20263,22181,24747
Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,...,5516,4753,4437,5196,5433,5604,4948,5543,6990,8394
Oceania,1942,1839,1675,1018,878,920,904,1200,1181,1539,...,1552,1263,1021,1055,1276,1818,1685,1800,1788,1585

In [37]:
df.groupby('Continent').min()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Asia,Central Asia,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,5,16,7,18,...,18,17,12,9,11,11,8,12,8,11
Northern America,Northern America,Developed regions,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Oceania,Australia and New Zealand,Developed regions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df.groupby('Continent', as_index=False).min()

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Asia,Central Asia,Developed regions,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
2,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,5,16,7,...,18,17,12,9,11,11,8,12,8,11
4,Northern America,Northern America,Developed regions,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5,Oceania,Australia and New Zealand,Developed regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df[df['Continent'].str.startswith('A') ]

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626
Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,5,...,38,27,58,49,70,169,168,165,268,295
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,102,115,89,112,124,87,132,153,147,224
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,26,38,62,54,77,98,186,167,230,359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852
Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,144,121,141,134,122,181,171,113,124,161
Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,15,...,34,72,34,51,39,78,50,46,56,91
Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,43,...,39,44,43,49,98,110,191,669,1450,615

In [40]:
selCont = ['Asia', "Europe"]

In [41]:
df[df['Continent'].isin(selCont)]

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,113,307,574,1264,1816,1602,1021,853,1450,1223
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,0,2,0,0,1,0,2,0,0
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,102,115,89,112,124,87,132,153,147,224
Austria,Europe,Western Europe,Developed regions,234,238,201,117,127,165,196,...,191,152,190,117,97,134,87,113,118,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,33,27,25,24,27,41,37,32,41,31
United Kingdom of Great Britain and Northern Ireland,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,...,29322,22965,10367,7045,8840,11728,8046,6797,7533,7258
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,58,75,97,106,101,102,144,155,175,330
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,144,121,141,134,122,181,171,113,124,161

In [42]:
df[(df['Continent'].isin(selCont)) & (df['Continent'].str.startswith('A')) ]

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,102,115,89,112,124,87,132,153,147,224
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,26,38,62,54,77,98,186,167,230,359
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,17,28,14,27,34,13,17,15,12,12
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,2,2,1,3,6,6,8,7,1,5
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,4,6,1,3,6,3,4,6,3,4
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,216,313,241,165,245,259,230,277,348,370
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,0,24,257,400,470,379,430,446,536,729
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,0,1,15,28,21,21,21
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,31,36,19,15,16,22,13,17,11,7
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,0,4,1,4,6,8,11,18,15,14
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,49,46,92,46,83,124,123,127,106,114
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,231,166,165,525,1138,907,709,515,552,632
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,2675,2564,2037,2159,2591,2821,2432,1515,1796,2226
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,2515,2998,3172,2387,2510,2436,2539,2314,2788,2446
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,994,924,897,1083,1010,1092,806,817,973,1067
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1070,1317,999,1218,1511,1904,1499,1614,1733,1940
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,152,593,884,537,450,501,418,542,545,506
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,187,108,121,80,114,107,74,72,74,66
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,8,43,63,68,56,95,124,99,245,173
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,24,31,16,31,36,40,49,22,38,42
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,1919,1472,1329,1594,1903,2578,2332,3179,3293,3709
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,382,319,214,299,360,460,480,419,401,593
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,0,1,0,1,0,1,0,1,0
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,8,1,0,1,17,17,20,28,34,59
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,229,205,68,98,121,113,164,263,191,210
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,132,155,104,157,236,272,363,313,404,607
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,2,7,4,3,7,12,7,11,12,14
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,4,7,3,7,4,21,4,4,5,11
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,3250,4093,4938,7108,7618,9619,7342,7117,5352,5832
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,84,78,71,74,89,98,71,70,128,198
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,409,287,231,437,444,473,588,391,311,392
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,6484,5415,3566,4982,6081,5861,5279,4892,4495,4930
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,8,26,146,180,238,343,266,323,376,453
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,942,859,892,823,924,1067,956,1085,1116,1458
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,2,11,4,4,5,20,9,7,14,85
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,195,152,201,246,258,309,547,439,392,575
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,638,679,777,806,1101,1184,1301,1338,1736,2065
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,10,6,4,2,7,10,11,22,16,40
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,33,27,25,24,27,41,37,32,41,31
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,58,75,97,106,101,102,144,155,175,330
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,144,121,141,134,122,181,171,113,124,161

In [45]:
df.groupby('AreaName', as_index=False).count().set_index('OdName')

KeyError: 'AreaName'